/* Local CSS Style ---------------------------------------------------------- */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-style: normal;
    background: #fafafa;
}

figure {
    margin: 0 0 0;
}

.side-content {
    overflow: auto;
}

#content h2 {
    margin-bottom: 25px;
}

#content .display-5 {
    white-space: nowrap;
}

.side-content li {
    font-size: 1.1em;
    margin-top: 15px;
}

.navbar-nav li {
    margin: 0px 3px;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #fff !important;
    border-radius: 2px;

    background-color:#294866 !important;
    background-image: none !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color:#294866;
}

.col-sm-auto {
    padding: 0px;
}

.col {
    margin-right: 10px;
}

/* Tab Content -------------------------------------------------------------- */
.custom-card-tabs {
    /*z-index: -1;*/
    margin-top: -1px;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6; */
}

#constraints-model-content .card {
    width: 53vw;
    float: left;
    margin-right: 30px
}

/* List Style --------------------------------------------------------------- */
ul.list-group:after {
    clear: both;
    display: block;
    content: "";
}

.list-group-item {
    border: 0 !important;
    margin: 0px 5px 10px 5px;
}

/* Previous CSS ------------------------------------------------------------- */
.container {
    margin: 20px 10px 0px 10px;
    padding: 0px;
}

.selection {
    display: block;
}

.selection h5 {
    font-size: 2.5vh;
    margin-bottom: 10px;
}

#test-message {
    display: none;
    position: relative;
    float: left;
    word-wrap: break-word;
}

.animations {
    float: left;
    position: relative;
    border-radius: 5px;
    height: 27.5vh;
    width: 27.5vh;
    padding-left: 0px !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

/* Canvas styling */
canvas {
    border-radius: 3px;
}

.placeholder {
    height: 45vh;
    max-width: 53vw;
    border-radius: 3px;
    background-color: rgb(240, 240, 228);
}

/* Modifying table style */
#bearing-table {
    width: 100%;
    font-size: 0.9em;
}

#bearing-table th, #bearing-table td {
    text-align: center;
    vertical-align: middle !important;
    padding: 10px 5px 10px 5px;
}